<!DOCTYPE html>
<html lang="ca">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
    <link rel="stylesheet" href="./css/mef/mef.css">
    <script src="./js/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <div data-th-fragment="header">
        <header class="fp">
            <div class='d-flex flex-row'>
                <!--logo-->
                <img alt='logo' id='logo' src='img/logo.png'/>
            </div>
        </header>
    	<nav class="navbar fixed-top d-flex flex-row-reverse">
            <div class="d-flex flex-row-reverse navbar-container">    	
                 <!--barra de progrés-->
                <div class="containerProgressBar" data-th-fragment="progressbar">
                    <ul class="progressbar" data-th-with="nodeWidth=(100 / ${#lists.size(progressbarConfigData.progressBarNodes)})">
                        <li data-th-each="node : ${progressbarConfigData.progressBarNodes}" data-th-class="${node.state.getValue()}" class="done" data-th-title='${node.name}?:false' title="Exercici 97" data-th-style="'width:'+${nodeWidth}+'%;'" style="width:25%;"><a data-href="#" href="javascript:void(0)" data-th-text="${node.id}?:false">97</a></li>
                        <!--/*-->
                        <li class="active" title="Exercici 98"  style="width:25%;"><a data-href="#" href="javascript:void(0)">98</a></li>
                        <li  title="Exercici 99" style="width:25%;"><a data-href="#" href="javascript:void(0)">99</a></li>
                        <!--*/-->
                    </ul>
                </div>
           </div>
    	</nav>
    </div>
    <main class="d-flex justify-content-center">
        <div id='mainContainer' class="container-fluid W-100 d-flex h-100" data-th-text="${maindata}">
            main
        </div>        
    </main>
      <footer data-th-fragment="footer">
          <div id="rightFooter">
            <span class="footer_credits">Recurs didàctic dissenyat pel grup de millora en metodologies flexibles de l'IOC</span>
             <img alt='logo wiki' id='logo_bottom' src='img/logo_ra.png'/>
          </div>
          <div id="leftFooter">
            <span id="infoMessagePanel" class="footer_info"> </span>
          </div>
      </footer>
    <script data-th-fragment="bodyScript" src="./js/mef/modules/mef.js" type="module"></script>
  </body>
</html>
